/*
** Icon fonts uploading
*/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;

}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-right: 5px;
  color: white;
}
.flaticon-css3:before {
	content: "\e000";
  color: #f1c40f;
  font-size:28px;
}
.flaticon-development:before {
	content: "\e001";
  color: #f1c40f;
  font-size:28px;
}
.flaticon-github10:before {
	content: "\e002";
}
.flaticon-internet116:before {
	content: "\e003";
  color: #f1c40f;
  font-size:28px;
}
.flaticon-mail3:before {
	content: "\e004";
}
.flaticon-pin56:before {
	content: "\e005";
}
.flaticon-team2:before {
	content: "\e006";
  color: #f1c40f;
  font-size:28px;
}
.flaticon-telephone46:before {
	content: "\e007";
}
.flaticon-website8:before {
	content: "\e008";
  color: #f1c40f;
  font-size:28px;
}

/*
**** general styling
*/

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5;
  /*font-size: 20px;*/
}

html {
  /*background-color: #ecf0f1;*/
}
h1 {
  font-size: 40px;
  color: #16a085;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #666;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding: 10px 5%;
}

p {
  font-size: 16px;
  color: #333;
}

ul {
  list-style-type: none;
}

img {
  margin:15px;
}

span {
  padding: 5px;
  color: white;
}

.clear-fix {
  overflow: auto;
}

.center-text {
  text-align: center;
}

.center-content {
  padding: 2.5% 5%;
}

.green {
  background-color: #16a085;
}

.green-text {
  color: #16a085;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#main {
  max-width: 1160px;
  margin: 0 auto;
}

#header {
  background-color: #484848;
  background-image: url('../images/bgheader.png');
  background-size: cover;
  background-position: bottom;
  padding-bottom: 30px;
}

#topContacts a,
#footerContacts a {
  text-decoration: none;
  color: #16a085;
}

.biopic {
  float: left;
  width: 200px;
  display: none;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 20px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  color: #f3f3f3;
  line-height: 1.6;
}

#skills-h3 {
  color: #16a085;
  display: none;
}

#workExperience {
  padding-top: 20px;
}

.education-entry, .work-entry, .project-entry {
  padding: 0 5%;
  box-sizing: border-box;
  max-width: 930px;
  margin: 0 auto 10px 0;
  line-height: 1.8;
}
.work-entry:last-of-type {
  margin-bottom: 10px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  margin-right: 10px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

#workExperience a,
#projects a,
#education a {
  color: #1199c3;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
}
#education a {
  /*overriding display block from above rule*/
  display: inline;
}

#lets-connect {
  text-align: center;
}
.iconsLinks{
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  background-color: #484848;
}
.iconsLinks a {
  color: white;
  text-decoration: none;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 3%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .flex-box {
    display: block;
  }
  li.flex-item {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3, .biopic {
    display: block;
  }
  #name {
    text-align: center;
  }
}
